[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
/TosinsoApp/KeyRings/key-e329b981-d043-455d-9215-62bf18b6e67f.xml
/TosinsoApp/KeyRings/key-938438f2-1e71-4a91-953d-2abf62c6649b.xml
/TosinsoApp/*.TMP
/.vs/TosinsoApp/config/applicationhost.config
/TosinsoApp/KeyRings/key-c8485242-eb60-4532-bb2d-d456ec0efde8.xml
.vs/*
.vs